<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="SignInAutomatically" value="False" />
    <add key="RememberMyIDPassword" value="False" />
    <add key="SignInAsInvisible" value="False" />
    <add key="Username" value="test" />
    <add key="EncryptedPassword" value="fe520676b1a1d93dabab2319eea03674f3632eaeeb163d1e88244f5eb1de10eb" />
    <add key="DefaultProfilePicture" value="921b88a63c40d57b063ddd3d1c40a56c3f1b40e7bc8b61174c854f34f22ebb1d" />
  </appSettings>
  <connectionStrings>
    <add name="RMMessengerEntities" connectionString="metadata=res://*/Database.EntityFramework.csdl|res://*/Database.EntityFramework.ssdl|res://*/Database.EntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-NVEVR84\SQLEXPRESS;initial catalog=RMMessenger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>