<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SignInAutomatically" value="False" />
    <add key="KeepMeLoggedIn" value="False" />
    <add key="SignInAsInvisible" value="False" />
    <add key="Username" value="test" />
    <add key="EncryptedPassword" value="fe520676b1a1d93dabab2319eea03674f3632eaeeb163d1e88244f5eb1de10eb" />
    <add key="ProfilePictureUri" value="" />
  </appSettings>
</configuration>